<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>2152</integer>
  <key>capHeight</key>
  <integer>1025</integer>
  <key>copyright</key>
  <string>Copyright (c) 2015 by Sh Moiz Sh Zohair bhai. All rights reserved.</string>
  <key>descender</key>
  <integer>-1100</integer>
  <key>familyName</key>
  <string>Kanz-al-Marjaan</string>
  <key>italicAngle</key>
  <real>0</real>
  <key>openTypeGaspRangeRecords</key>
  <array>
    <dict>
      <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
      <key>rangeMaxPPEM</key>
      <integer>0</integer>
    </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2017/04/07 12:37:40</string>
  <key>openTypeHeadFlags</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>4</integer>
    <integer>7</integer>
    <integer>9</integer>
  </array>
  <key>openTypeHeadLowestRecPPEM</key>
  <integer>8</integer>
  <key>openTypeHheaAscender</key>
  <integer>2220</integer>
  <key>openTypeHheaCaretOffset</key>
  <integer>0</integer>
  <key>openTypeHheaCaretSlopeRise</key>
  <integer>1</integer>
  <key>openTypeHheaCaretSlopeRun</key>
  <integer>0</integer>
  <key>openTypeHheaDescender</key>
  <integer>-1100</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDescription</key>
  <string>Copyright (c) 2015 by Sh Moiz Sh Zohair bhai. All rights reserved.</string>
  <key>openTypeNameDesigner</key>
  <string>Sh Moiz Sh Zohair bhai</string>
  <key>openTypeNameDesignerURL</key>
  <string>http://www.nujoomapps.com</string>
  <key>openTypeNameLicense</key>
  <string>These fonts are created by the developers of Al Fatemi fonts and it is a mark of marvel. 
We do not claim any rights to this font. We have just reprogrammed it to comply with the standards of Windows 8 and with the typing habit of Old Fatemi fonts (Double key typing).
This font is compatible with nearly all existing devices which support Arabic typing: iOS, Android, Mac, Linux etc.</string>
  <key>openTypeNameManufacturer</key>
  <string>Sh Moiz Sh Zohair bhai</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Kanz-al-Marjaan</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameUniqueID</key>
  <string>Kanz-al-Marjaan:Version 3.10</string>
  <key>openTypeNameVersion</key>
  <string>Version 3.10;February 27, 2019;FontCreator 11.5.0.2427 64-bit</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>6</integer>
  </array>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>3</integer>
    <integer>2</integer>
    <integer>5</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>6</integer>
    <integer>8</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>504</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>97</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>1365</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>279</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>1267</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>1365</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>883</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>1267</integer>
  <key>openTypeOS2Type</key>
  <array>
    <integer>2</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>2152</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-1100</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>-252</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>63</integer>
    <integer>67</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>MSFT</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>2220</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>1100</integer>
  <key>postscriptFontName</key>
  <string>Kanz-al-Marjaan</string>
  <key>postscriptUnderlinePosition</key>
  <integer>-380</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>19</integer>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>trademark</key>
  <string>Al-Kanz is a trademark of Sh Moiz Sh Zohair bhai.</string>
  <key>unitsPerEm</key>
  <integer>2048</integer>
  <key>versionMajor</key>
  <integer>3</integer>
  <key>versionMinor</key>
  <integer>6554</integer>
  <key>xHeight</key>
  <integer>762</integer>
</dict>
</plist>
