<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aalt</key>
    <array>
      <string>uni0622</string>
      <string>uni0623</string>
      <string>uni0624</string>
      <string>uni0625</string>
      <string>uni0627</string>
      <string>uni0629</string>
      <string>uni062F</string>
      <string>uni0630</string>
      <string>uni0671</string>
      <string>uni0672</string>
      <string>uni0673</string>
      <string>uni0675</string>
      <string>uni0677</string>
      <string>uni0688</string>
      <string>uni06C0</string>
      <string>uni06D2</string>
      <string>uni06D3</string>
      <string>uniFEDF</string>
      <string>uni0627.short</string>
    </array>
    <key>aalt2</key>
    <array>
      <string>uniFE82</string>
      <string>uniFE84</string>
      <string>uniFE86</string>
      <string>uniFE88</string>
      <string>uniFE8E</string>
      <string>uniFE94</string>
      <string>uniFEAA</string>
      <string>uniFEAC</string>
      <string>uniFB51</string>
      <string>uni0672.fina</string>
      <string>uni0673.fina</string>
      <string>uni0675.fina</string>
      <string>glyph2248</string>
      <string>uniFB89</string>
      <string>uniFBA5</string>
      <string>uniFBAF</string>
      <string>uniFBB1</string>
      <string>uniFEDF.alt1</string>
      <string>uniFE8E.short</string>
    </array>
    <key>fina</key>
    <array>
      <string>uni0622</string>
      <string>uni0623</string>
      <string>uni0624</string>
      <string>uni0625</string>
      <string>uni0626</string>
      <string>uni0627</string>
      <string>uni0628</string>
      <string>uni0629</string>
      <string>uni062A</string>
      <string>uni062B</string>
      <string>uni062C</string>
      <string>uni062D</string>
      <string>uni062E</string>
      <string>uni062F</string>
      <string>uni0630</string>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0633</string>
      <string>uni0634</string>
      <string>uni0635</string>
      <string>uni0636</string>
      <string>uni0637</string>
      <string>uni0638</string>
      <string>uni0639</string>
      <string>uni063A</string>
      <string>uni0641</string>
      <string>uni0642</string>
      <string>uni0643</string>
      <string>uni0644</string>
      <string>uni0645</string>
      <string>uni0646</string>
      <string>uni0647</string>
      <string>uni0648</string>
      <string>uni0649</string>
      <string>uni064A</string>
      <string>uni0671</string>
      <string>uni0672</string>
      <string>uni0673</string>
      <string>uni0675</string>
      <string>uni0676</string>
      <string>uni0678</string>
      <string>uni0679</string>
      <string>uni067E</string>
      <string>uni0686</string>
      <string>uni0688</string>
      <string>uni0691</string>
      <string>uni06A1</string>
      <string>uni06A9</string>
      <string>uni06AF</string>
      <string>uni06BA</string>
      <string>uni06BE</string>
      <string>uni06C0</string>
      <string>uni06CC</string>
      <string>uni06D2</string>
      <string>uni06D3</string>
      <string>uni0627.short</string>
    </array>
    <key>fina2</key>
    <array>
      <string>uniFE82</string>
      <string>uniFE84</string>
      <string>uniFE86</string>
      <string>uniFE88</string>
      <string>uniFE8A</string>
      <string>uniFE8E</string>
      <string>uniFE90</string>
      <string>uniFE94</string>
      <string>uniFE96</string>
      <string>uniFE9A</string>
      <string>uniFE9E</string>
      <string>uniFEA2</string>
      <string>uniFEA6</string>
      <string>uniFEAA</string>
      <string>uniFEAC</string>
      <string>uniFEAE</string>
      <string>uniFEB0</string>
      <string>uniFEB2</string>
      <string>uniFEB6</string>
      <string>uniFEBA</string>
      <string>uniFEBE</string>
      <string>uniFEC2</string>
      <string>uniFEC6</string>
      <string>uniFECA</string>
      <string>uniFECE</string>
      <string>uniFED2</string>
      <string>uniFED6</string>
      <string>uniFEDA</string>
      <string>uniFEDE</string>
      <string>uniFEE2</string>
      <string>uniFEE6</string>
      <string>uniFEEA</string>
      <string>uniFEEE</string>
      <string>uniFEF0</string>
      <string>uniFEF2</string>
      <string>uniFB51</string>
      <string>uni0672.fina</string>
      <string>uni0673.fina</string>
      <string>uni0675.fina</string>
      <string>uni0676.fina</string>
      <string>uni0678.fina</string>
      <string>uniFB67</string>
      <string>uniFB57</string>
      <string>uniFB7B</string>
      <string>uniFB89</string>
      <string>uniFB8D</string>
      <string>uni06A1.fina</string>
      <string>uniFB8F</string>
      <string>uniFB93</string>
      <string>uniFB9F</string>
      <string>uniFBAB</string>
      <string>uniFBA5</string>
      <string>uniFBFD</string>
      <string>uniFBAF</string>
      <string>uniFBB1</string>
      <string>uniFE8E.short</string>
    </array>
    <key>init</key>
    <array>
      <string>uniFE8B</string>
      <string>uniFE91</string>
      <string>uniFE97</string>
      <string>uniFE9B</string>
      <string>uniFE9F</string>
      <string>uniFEA3</string>
      <string>uniFEA7</string>
      <string>uniFEB3</string>
      <string>uniFEB7</string>
      <string>uniFEBB</string>
      <string>uniFEBF</string>
      <string>uniFEC3</string>
      <string>uniFEC7</string>
      <string>uniFECB</string>
      <string>uniFECF</string>
      <string>uniFED3</string>
      <string>uniFED7</string>
      <string>uniFEDB</string>
      <string>uniFEDF</string>
      <string>uniFEE3</string>
      <string>uniFEE7</string>
      <string>uniFEEB</string>
      <string>uniFBE8</string>
      <string>uniFBFE</string>
      <string>uniFE8B</string>
      <string>uniFB68</string>
      <string>uniFB58</string>
      <string>uniFB7C</string>
      <string>uni06A1.init</string>
      <string>uniFB90</string>
      <string>uniFB94</string>
      <string>uniFEE7</string>
      <string>uniFBAC</string>
      <string>uniFBA8</string>
      <string>uniFBFE</string>
    </array>
    <key>init_isol</key>
    <array>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0644</string>
      <string>uni0646</string>
      <string>uni0647</string>
      <string>uni0648</string>
      <string>uni0649</string>
      <string>uni064A</string>
      <string>uni0676</string>
      <string>uni0677</string>
      <string>uni0691</string>
      <string>uni06BA</string>
      <string>uniFEDF</string>
    </array>
    <key>init_isol2</key>
    <array>
      <string>glyph2245</string>
      <string>glyph2246</string>
      <string>glyph2249</string>
      <string>glyph2244</string>
      <string>uniFEE9</string>
      <string>glyph2247</string>
      <string>glyph2250</string>
      <string>glyph2251</string>
      <string>glyph2248</string>
      <string>glyph2248</string>
      <string>glyph2252</string>
      <string>newNunGunnaReplacemet</string>
      <string>uniFEDF.alt1</string>
    </array>
    <key>init_medi</key>
    <array>
      <string>uni0626</string>
      <string>uni0628</string>
      <string>uni062A</string>
      <string>uni062B</string>
      <string>uni062C</string>
      <string>uni062D</string>
      <string>uni062E</string>
      <string>uni0633</string>
      <string>uni0634</string>
      <string>uni0635</string>
      <string>uni0636</string>
      <string>uni0637</string>
      <string>uni0638</string>
      <string>uni0639</string>
      <string>uni063A</string>
      <string>uni0641</string>
      <string>uni0642</string>
      <string>uni0643</string>
      <string>uni0644</string>
      <string>uni0645</string>
      <string>uni0646</string>
      <string>uni0647</string>
      <string>uni0649</string>
      <string>uni064A</string>
      <string>uni0678</string>
      <string>uni0679</string>
      <string>uni067E</string>
      <string>uni0686</string>
      <string>uni06A1</string>
      <string>uni06A9</string>
      <string>uni06AF</string>
      <string>uni06BA</string>
      <string>uni06BE</string>
      <string>uni06C1</string>
      <string>uni06CC</string>
    </array>
    <key>isol</key>
    <array>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0644</string>
      <string>uni0646</string>
      <string>uni0648</string>
      <string>uni0649</string>
      <string>uni064A</string>
      <string>uni0676</string>
      <string>uni0677</string>
      <string>uni0691</string>
      <string>uni06BA</string>
    </array>
    <key>isol2</key>
    <array>
      <string>uni0621</string>
      <string>uni0622</string>
      <string>uni0623</string>
      <string>uni0624</string>
      <string>uni0625</string>
      <string>uni0627</string>
      <string>uni0629</string>
      <string>uni062F</string>
      <string>uni0630</string>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0648</string>
      <string>uni06D5</string>
      <string>uni0688</string>
      <string>uni0691</string>
      <string>uni06D2</string>
      <string>uni06C0</string>
      <string>uni06D3</string>
      <string>uni0671</string>
      <string>uni0672</string>
      <string>uni0673</string>
      <string>uni0674</string>
      <string>uni0675</string>
      <string>uni0676</string>
      <string>uni0677</string>
      <string>uniFB51</string>
      <string>uniFB89</string>
      <string>uniFB8D</string>
      <string>uniFBA5</string>
      <string>uniFBAF</string>
      <string>uniFBB1</string>
      <string>uniFBD8</string>
      <string>uniFE82</string>
      <string>uniFE84</string>
      <string>uniFE86</string>
      <string>uniFE88</string>
      <string>uniFE8E</string>
      <string>uniFE94</string>
      <string>uniFEAA</string>
      <string>uniFEAC</string>
      <string>uniFEAE</string>
      <string>uniFEB0</string>
      <string>uniFEEE</string>
      <string>uniFEF5</string>
      <string>uniFEF6</string>
      <string>uniFEF7</string>
      <string>uniFEF8</string>
      <string>uniFEF9</string>
      <string>uniFEFA</string>
      <string>uniFEFB</string>
      <string>uniFEFC</string>
      <string>uniFE8E.short</string>
      <string>uni0672.fina</string>
      <string>uni0673.fina</string>
      <string>uni0675.fina</string>
      <string>uni0676.fina</string>
      <string>uniFEFB.alt1</string>
      <string>uniFEFC.alt1</string>
    </array>
    <key>isol3</key>
    <array>
      <string>uni064B</string>
      <string>uni064C</string>
      <string>uni064E</string>
      <string>uni064F</string>
      <string>uni0651</string>
      <string>uni0652</string>
      <string>uni0653</string>
      <string>uni0654</string>
      <string>uni0670</string>
      <string>uni06D6</string>
      <string>uni06D7</string>
      <string>uni06D8</string>
      <string>uni06D9</string>
      <string>uni06DA</string>
      <string>uni06DB</string>
      <string>uni06DC</string>
      <string>uni06DF</string>
      <string>uni06E0</string>
      <string>uni06E1</string>
      <string>uni06E2</string>
      <string>uni06E4</string>
      <string>uni06E7</string>
      <string>uni06E8</string>
      <string>uni06EB</string>
      <string>uni06EC</string>
      <string>uni0651064B</string>
      <string>uni0651064C</string>
      <string>uni0651064D</string>
      <string>uni0651064E</string>
      <string>uni0651064F</string>
      <string>uni06510650</string>
      <string>uni06510670</string>
      <string>uni0654064E</string>
      <string>uni0654064F</string>
      <string>uni06540652</string>
    </array>
    <key>isol_liga</key>
    <array>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0691</string>
      <string>uniFB58</string>
      <string>uniFB59</string>
      <string>uniFB68</string>
      <string>uniFB69</string>
      <string>uniFBA8</string>
      <string>uniFBE8</string>
      <string>uniFBE9</string>
      <string>uniFBFE</string>
      <string>uniFBFF</string>
      <string>uniFE8B</string>
      <string>uniFE8C</string>
      <string>uniFE91</string>
      <string>uniFE92</string>
      <string>uniFE97</string>
      <string>uniFE98</string>
      <string>uniFE9B</string>
      <string>uniFE9C</string>
      <string>uniFEE7</string>
      <string>uniFEE8</string>
    </array>
    <key>isol_liga2</key>
    <array>
      <string>newReReplacement</string>
      <string>newZeReplacement</string>
      <string>newNunGunnaReplacement</string>
      <string>uniFB58.tall</string>
      <string>uniFB59.tall</string>
      <string>uniFB68.tall</string>
      <string>uniFB69.tall</string>
      <string>uniFBA8</string>
      <string>uniFBE8.tall</string>
      <string>uniFBE9.tall</string>
      <string>uniFEF3.tall</string>
      <string>uniFEF4.tall</string>
      <string>uniFE8B.tall</string>
      <string>uniFE8C.tall</string>
      <string>uniFE91.tall</string>
      <string>uniFE92.tall</string>
      <string>uniFE97.tall</string>
      <string>uniFE98.tall</string>
      <string>uniFE9B.tall</string>
      <string>uniFE9C.tall</string>
      <string>uniFEE7.tall</string>
      <string>uniFEE8.tall</string>
    </array>
    <key>isol_liga3</key>
    <array>
      <string>uni0624</string>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0648</string>
      <string>uni0691</string>
      <string>uni0676</string>
      <string>uni0677</string>
      <string>uniFB8D</string>
      <string>uniFC64</string>
      <string>uniFC65</string>
      <string>uniFC6A</string>
      <string>uniFC6B</string>
      <string>uniFC70</string>
      <string>uniFC71</string>
      <string>uniFC76</string>
      <string>uniFC77</string>
      <string>uniFC8A</string>
      <string>uniFC8B</string>
      <string>uniFC91</string>
      <string>uniFC92</string>
      <string>uniFE86</string>
      <string>uniFEAE</string>
      <string>uniFEB0</string>
      <string>uni06790631.fina</string>
      <string>uni06790632.fina</string>
      <string>uni06260691.fina</string>
      <string>uni06280691.fina</string>
      <string>uni062A0691.fina</string>
      <string>uni062B0691.fina</string>
      <string>uni06460691.fina</string>
      <string>uni064A0691.fina</string>
      <string>uni06790691.fina</string>
      <string>liga.behrehfina</string>
      <string>newReReplacement</string>
      <string>newNunGunnaReplacemet</string>
      <string>newZeReplacement</string>
      <string>newNunGunnaReplacement</string>
      <string>glyph2244</string>
      <string>glyph2245</string>
      <string>glyph2246</string>
      <string>glyph2247</string>
      <string>glyph2248</string>
    </array>
    <key>liga</key>
    <array>
      <string>uniFB58</string>
      <string>uniFB59</string>
      <string>uniFB68</string>
      <string>uniFB69</string>
      <string>uniFBA8</string>
      <string>uniFBE8</string>
      <string>uniFBE9</string>
      <string>uniFBFE</string>
      <string>uniFBFF</string>
      <string>uniFE8B</string>
      <string>uniFE8C</string>
      <string>uniFE91</string>
      <string>uniFE92</string>
      <string>uniFE97</string>
      <string>uniFE98</string>
      <string>uniFE9B</string>
      <string>uniFE9C</string>
      <string>uniFEE7</string>
      <string>uniFEE8</string>
    </array>
    <key>liga10</key>
    <array>
      <string>uniFD17</string>
      <string>uniFD18</string>
      <string>uniFD19</string>
      <string>uniFD1A</string>
      <string>uniFD29</string>
      <string>uniFD2A</string>
      <string>uniFEB2</string>
      <string>uniFEB4</string>
      <string>uniFEB6</string>
      <string>uniFEB8</string>
      <string>uni063306D2.fina</string>
      <string>uni06330632.fina</string>
      <string>uni06340632.fina</string>
    </array>
    <key>liga11</key>
    <array>
      <string>uniFC80</string>
      <string>uniFC81</string>
      <string>uniFCEB</string>
      <string>uniFEB2</string>
      <string>uniFEB4</string>
      <string>uniFEB6</string>
      <string>uniFEB8</string>
      <string>uniFEBA</string>
      <string>uniFEBC</string>
      <string>uniFEBE</string>
      <string>uniFEC0</string>
      <string>uniFEC2</string>
      <string>uniFEC4</string>
      <string>uniFEC6</string>
      <string>uniFEC8</string>
      <string>uniFECA</string>
      <string>uniFECC</string>
      <string>uniFECE</string>
      <string>uniFED0</string>
      <string>uniFED2</string>
      <string>uniFED4</string>
      <string>uniFED6</string>
      <string>uniFED8</string>
      <string>uniFEEE</string>
      <string>uni064306440627.fina</string>
      <string>uni064306440627.finashort</string>
      <string>uniFB95_uniFE8E.liga</string>
      <string>glyph1907</string>
      <string>uniFB95_uniFEFC.liga</string>
      <string>uniFB95_uniFEFC.alt1.liga</string>
      <string>uniFB95_uniFEDE.liga</string>
      <string>uniFB95_uniFEE0.liga</string>
    </array>
    <key>liga12</key>
    <array>
      <string>uniFB57</string>
      <string>uniFB59</string>
      <string>uniFB67</string>
      <string>uniFB69</string>
      <string>uniFB89</string>
      <string>uniFB8D</string>
      <string>uniFB93</string>
      <string>uniFB9F</string>
      <string>uniFE90</string>
      <string>uniFE92</string>
      <string>uniFE96</string>
      <string>uniFE98</string>
      <string>uniFE9A</string>
      <string>uniFE9C</string>
      <string>uniFEAE</string>
      <string>uniFEB0</string>
      <string>uniFEDA</string>
      <string>uniFEDE</string>
      <string>uniFEE0</string>
      <string>uniFEE6</string>
      <string>uniFEE8</string>
      <string>uniFE92.tall</string>
      <string>uniFE98.tall</string>
      <string>uniFE9C.tall</string>
      <string>uniFEE8.tall</string>
      <string>uniFB69.tall</string>
      <string>uniFB59.tall</string>
    </array>
    <key>liga13</key>
    <array>
      <string>uniFE8C.tall</string>
      <string>uniFE92.tall</string>
      <string>uniFE98.tall</string>
      <string>uniFE9C.tall</string>
      <string>uniFEE8.tall</string>
      <string>uniFEF4.tall</string>
      <string>uniFB69.tall</string>
      <string>uniFB59.tall</string>
      <string>uniFBE9.tall</string>
    </array>
    <key>liga14</key>
    <array>
      <string>uniFC64</string>
      <string>uniFC65</string>
      <string>uniFC66</string>
      <string>uniFC67</string>
      <string>uniFC6A</string>
      <string>uniFC6C</string>
      <string>uniFC6D</string>
      <string>uniFC70</string>
      <string>uniFC71</string>
      <string>uniFC72</string>
      <string>uniFC73</string>
      <string>uniFC76</string>
      <string>uniFC77</string>
      <string>uniFC78</string>
      <string>uniFC79</string>
      <string>uniFC8A</string>
      <string>uniFC8B</string>
      <string>uniFC8C</string>
      <string>uniFC8D</string>
      <string>uniFC91</string>
      <string>uniFC92</string>
      <string>uniFC93</string>
      <string>uniFC94</string>
      <string>uni06790631.fina</string>
      <string>uni067D0631.fina</string>
      <string>uni06790632.fina</string>
      <string>uni067D0632.fina</string>
      <string>uni06260691.fina</string>
      <string>uni06280691.fina</string>
      <string>uni062B0691.fina</string>
      <string>uni06460691.fina</string>
      <string>uni064A0691.fina</string>
      <string>uni06790691.fina</string>
      <string>uni067D0691.fina</string>
      <string>uni062606450627.fina</string>
      <string>uni062806450627.fina</string>
      <string>uni062A06450627.fina</string>
      <string>uni062B06450627.fina</string>
      <string>uni064606450627.fina</string>
      <string>uni064A06450627.fina</string>
      <string>uni067906450627.fina</string>
      <string>uni067D06450627.fina</string>
      <string>uni067D0645.fina</string>
      <string>uni06790646.fina</string>
      <string>uni067D0646.fina</string>
      <string>uni062606BA.fina</string>
      <string>uni062A06BA.fina</string>
      <string>uni062B06BA.fina</string>
      <string>uni064606BA.fina</string>
      <string>uni064A06BA.fina</string>
      <string>uni067906BA.fina</string>
      <string>uni067D06BA.fina</string>
      <string>uniFE92_uniFE92_uniFBAF.liga</string>
      <string>uniFE92_uniFEE8_uniFBAF.liga</string>
      <string>uniFE92_uniFE98_uniFBAF.liga</string>
      <string>uniFE92_uniFEF4_uniFBAF.liga</string>
      <string>uniFE92_uniFE9C_uniFBAF.liga</string>
      <string>uniFE92_uniFB59_uniFBAF.liga</string>
      <string>uniFE92_uniFE8C_uniFBAF.liga</string>
      <string>uniFE92_uniFB69_uniFBAF.liga</string>
      <string>uniFEE8_uniFE92_uniFBAF.liga</string>
      <string>uniFEE8_uniFEE8_uniFBAF.liga</string>
      <string>uniFEE8_uniFE98_uniFBAF.liga</string>
      <string>uniFEE8_uniFEF4_uniFBAF.liga</string>
      <string>uniFEE8_uniFE9C_uniFBAF.liga</string>
      <string>uniFEE8_uniFB59_uniFBAF.liga</string>
      <string>uniFEE8_uniFE8C_uniFBAF.liga</string>
      <string>uniFEE8_uniFB69_uniFBAF.liga</string>
      <string>uniFE98_uniFEE8_uniFBAF.liga</string>
      <string>uniFE98_uniFE92_uniFBAF.liga</string>
      <string>uniFE98_uniFE98_uniFBAF.liga</string>
      <string>uniFE98_uniFEF4_uniFBAF.liga</string>
      <string>uniFE98_uniFE9C_uniFBAF.liga</string>
      <string>uniFE98_uniFB59_uniFBAF.liga</string>
      <string>uniFE98_uniFE8C_uniFBAF.liga</string>
      <string>uniFE98_uniFB69_uniFBAF.liga</string>
      <string>uniFEF4_uniFE9C_uniFBAF.liga</string>
      <string>uniFEF4_uniFB59_uniFBAF.liga</string>
      <string>uniFEF4_uniFE8C_uniFBAF.liga</string>
      <string>uniFEF4_uniFB69_uniFBAF.liga</string>
      <string>uniFE9C_uniFEE8_uniFBAF.liga</string>
      <string>uniFE9C_uniFE92_uniFBAF.liga</string>
      <string>uniFE9C_uniFE98_uniFBAF.liga</string>
      <string>uniFE9C_uniFEF4_uniFBAF.liga</string>
      <string>uniFE9C_uniFE9C_uniFBAF.liga</string>
      <string>uniFE9C_uniFB59_uniFBAF.liga</string>
      <string>uniFE9C_uniFE8C_uniFBAF.liga</string>
      <string>uniFE9C_uniFB69_uniFBAF.liga</string>
      <string>uniFB59_uniFE92_uniFBAF.liga</string>
      <string>uniFB59_uniFEE8_uniFBAF.liga</string>
      <string>uniFB59_uniFEF4_uniFBAF.liga</string>
      <string>uniFB59_uniFE98_uniFBAF.liga</string>
      <string>uniFB59_uniFE9C_uniFBAF.liga</string>
      <string>uniFB59_uniFB59_uniFBAF.liga</string>
      <string>uniFB59_uniFE8C_uniFBAF.liga</string>
      <string>uniFB59_uniFB69_uniFBAF.liga</string>
      <string>uniFE8C_uniFE92_uniFBAF.liga</string>
      <string>uniFE8C_uniFEE8_uniFBAF.liga</string>
      <string>uniFE8C_uniFEF4_uniFBAF.liga</string>
      <string>uniFE8C_uniFE98_uniFBAF.liga</string>
      <string>uniFE8C_uniFE9C_uniFBAF.liga</string>
      <string>uniFE8C_uniFB59_uniFBAF.liga</string>
      <string>uniFE8C_uniFE8C_uniFBAF.liga</string>
      <string>uniFE8C_uniFB69_uniFBAF.liga</string>
      <string>uniFB69_uniFE92_uniFBAF.liga</string>
      <string>uniFB69_uniFEE8_uniFBAF.liga</string>
      <string>uniFB69_uniFE98_uniFBAF.liga</string>
      <string>uniFB69_uniFEF4_uniFBAF.liga</string>
      <string>uniFB69_uniFE9C_uniFBAF.liga</string>
      <string>uniFB69_uniFB59_uniFBAF.liga</string>
      <string>uniFB69_uniFE8C_uniFBAF.liga</string>
      <string>uniFB69_uniFB69_uniFBAF.liga</string>
      <string>uniFEE8_uniFBAD.liga</string>
      <string>uniFE92_uniFBAD.liga</string>
      <string>uniFE98_uniFBAD.liga</string>
      <string>uniFEF4_uniFBAD.liga</string>
      <string>uniFE9C_uniFBAD.liga</string>
      <string>uniFB59_uniFBAD.liga</string>
      <string>uniFE8C_uniFBAD.liga</string>
      <string>uniFB69_uniFBAD.liga</string>
      <string>uniFE92_uniFBAD_uniFBAF.liga</string>
      <string>uniFEE8_uniFBAD_uniFBAF.liga</string>
      <string>uniFE98_uniFBAD_uniFBAF.liga</string>
      <string>uniFEF4_uniFBAD_uniFBAF.liga</string>
      <string>uniFE9C_uniFBAD_uniFBAF.liga</string>
      <string>uniFB59_uniFBAD_uniFBAF.liga</string>
      <string>uniFE8C_uniFBAD_uniFBAF.liga</string>
      <string>uniFB69_uniFBAD_uniFBAF.liga</string>
    </array>
    <key>liga2</key>
    <array>
      <string>uniFB59</string>
      <string>uniFB69</string>
      <string>uniFBE9</string>
      <string>uniFBFF</string>
      <string>uniFE8C</string>
      <string>uniFE92</string>
      <string>uniFE98</string>
      <string>uniFE9C</string>
      <string>uniFEE8</string>
    </array>
    <key>liga3</key>
    <array>
      <string>uniFB58</string>
      <string>uniFB68</string>
      <string>uniFBA8</string>
      <string>uniFBE8</string>
      <string>uniFBFE</string>
      <string>uniFE8B</string>
      <string>uniFE91</string>
      <string>uniFE97</string>
      <string>uniFE9B</string>
      <string>uniFEE7</string>
    </array>
    <key>liga4</key>
    <array>
      <string>uniFB58.short</string>
      <string>uniFB59.tall</string>
      <string>uniFB68.short</string>
      <string>uniFB69.tall</string>
      <string>uniFBA8</string>
      <string>uniFBE8.short</string>
      <string>uniFBE9.tall</string>
      <string>uniFEF3.short</string>
      <string>uniFEF4.tall</string>
      <string>uniFE8B.short</string>
      <string>uniFE8C.tall</string>
      <string>uniFE91.short</string>
      <string>uniFE92.tall</string>
      <string>uniFE97.short</string>
      <string>uniFE98.tall</string>
      <string>uniFE9B.short</string>
      <string>uniFE9C.tall</string>
      <string>uniFEE7.short</string>
      <string>uniFEE8.tall</string>
    </array>
    <key>liga5</key>
    <array>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0691</string>
      <string>uniFB58</string>
      <string>uniFB59</string>
      <string>uniFB68</string>
      <string>uniFBA8</string>
      <string>uniFBE8</string>
      <string>uniFBFE</string>
      <string>uniFBFF</string>
      <string>uniFE8B</string>
      <string>uniFE91</string>
      <string>uniFE92</string>
      <string>uniFE97</string>
      <string>uniFE9B</string>
      <string>uniFEE7</string>
      <string>uniFE92.tall</string>
      <string>uniFEF4.tall</string>
      <string>uniFB59.tall</string>
    </array>
    <key>liga6</key>
    <array>
      <string>newReReplacement</string>
      <string>newZeReplacement</string>
      <string>newNunGunnaReplacement</string>
      <string>uniFB58.tall</string>
      <string>uniFB59.low</string>
      <string>uniFB68.tall</string>
      <string>uniFBA8</string>
      <string>uniFBE8.tall</string>
      <string>uniFEF3.tall</string>
      <string>uniFEF4.low</string>
      <string>uniFE8B.tall</string>
      <string>uniFE91.tall</string>
      <string>uniFE92.low</string>
      <string>uniFE97.tall</string>
      <string>uniFE9B.tall</string>
      <string>uniFEE7.tall</string>
      <string>uniFE92.lowtall</string>
      <string>uniFEF4.lowtall</string>
      <string>uniFB59.lowtall</string>
    </array>
    <key>liga7</key>
    <array>
      <string>uniFB58</string>
      <string>uniFB59</string>
      <string>uniFB68</string>
      <string>uniFB69</string>
      <string>uniFBA8</string>
      <string>uniFBE8</string>
      <string>uniFBE9</string>
      <string>uniFBFE</string>
      <string>uniFBFF</string>
      <string>uniFE8B</string>
      <string>uniFE8C</string>
      <string>uniFE91</string>
      <string>uniFE92</string>
      <string>uniFE97</string>
      <string>uniFE98</string>
      <string>uniFE9B</string>
      <string>uniFE9C</string>
      <string>uniFEE7</string>
      <string>uniFEE8</string>
      <string>uniFEFB</string>
      <string>uniFE8C.tall</string>
      <string>uniFE92.tall</string>
      <string>uniFE98.tall</string>
      <string>uniFE9C.tall</string>
      <string>uniFEE8.tall</string>
      <string>uniFEF4.tall</string>
      <string>uniFB69.tall</string>
      <string>uniFB59.tall</string>
      <string>uniFBE9.tall</string>
      <string>uniFE92.lowtall</string>
      <string>uniFEF4.lowtall</string>
      <string>uniFB59.lowtall</string>
    </array>
    <key>liga8</key>
    <array>
      <string>uniFB58.short</string>
      <string>uniFB59.tall</string>
      <string>uniFB68.short</string>
      <string>uniFB69.tall</string>
      <string>uniFBA8</string>
      <string>uniFBE8.short</string>
      <string>uniFBE9.tall</string>
      <string>uniFEF3.short</string>
      <string>uniFEF4.tall</string>
      <string>uniFE8B.short</string>
      <string>uniFE8C.tall</string>
      <string>uniFE91.short</string>
      <string>uniFE92.tall</string>
      <string>uniFE97.short</string>
      <string>uniFE98.tall</string>
      <string>uniFE9B.short</string>
      <string>uniFE9C.tall</string>
      <string>uniFEE7.short</string>
      <string>uniFEE8.tall</string>
      <string>glyph2404</string>
      <string>uniFE8C</string>
      <string>uniFE92</string>
      <string>uniFE98</string>
      <string>uniFE9C</string>
      <string>uniFEE8</string>
      <string>uniFBFF</string>
      <string>uniFB69</string>
      <string>uniFB59</string>
      <string>uniFBE9</string>
      <string>uniFE92.low</string>
      <string>uniFEF4.low</string>
      <string>uniFB59.low</string>
    </array>
    <key>liga9</key>
    <array>
      <string>uniFE8C.tall</string>
      <string>uniFE92.tall</string>
      <string>uniFE98.tall</string>
      <string>uniFE9C.tall</string>
      <string>uniFEE8.tall</string>
      <string>uniFEF4.tall</string>
      <string>uniFB69.tall</string>
      <string>uniFB59.tall</string>
      <string>uniFBE9.tall</string>
      <string>uniFE92.lowtall</string>
      <string>uniFEF4.lowtall</string>
      <string>uniFB59.lowtall</string>
    </array>
    <key>medi</key>
    <array>
      <string>uniFE8C</string>
      <string>uniFE92</string>
      <string>uniFE98</string>
      <string>uniFE9C</string>
      <string>uniFEA0</string>
      <string>uniFEA4</string>
      <string>uniFEA8</string>
      <string>uniFEB4</string>
      <string>uniFEB8</string>
      <string>uniFEBC</string>
      <string>uniFEC0</string>
      <string>uniFEC4</string>
      <string>uniFEC8</string>
      <string>uniFECC</string>
      <string>uniFED0</string>
      <string>uniFED4</string>
      <string>uniFED8</string>
      <string>uniFEDC</string>
      <string>uniFEE0</string>
      <string>uniFEE4</string>
      <string>uniFEE8</string>
      <string>uniFEEC</string>
      <string>uniFBE9</string>
      <string>uniFBFF</string>
      <string>uniFE8C</string>
      <string>uniFB69</string>
      <string>uniFB59</string>
      <string>uniFB7D</string>
      <string>uni06A1.medi</string>
      <string>uniFB91</string>
      <string>uniFB95</string>
      <string>uniFEE8</string>
      <string>uniFBAD</string>
      <string>uniFBA9</string>
      <string>uniFBFF</string>
    </array>
  </dict>
</plist>
