(
.notdef,
NULL,
CR,
uni0001,
uni000D,
space,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
grave,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
braceright,
asciitilde,
uni00A0,
brokenbar,
section,
dieresis,
copyright,
guillemotleft,
uni00AD,
registered,
uni00B2,
uni00B3,
acute,
paragraph,
guillemotright,
onequarter,
onehalf,
threequarters,
Eth,
multiply,
divide,
tilde,
hungarumlaut,
dotbelowcomb,
uni0326,
uni060C,
uni061B,
uni061F,
uni0621,
uni0622,
uni0623,
uni0624,
uni0625,
uni0626,
uni0627,
uni0628,
uni0629,
uni062A,
uni062B,
uni062C,
uni062D,
uni062E,
uni062F,
uni0630,
uni0631,
uni0632,
uni0633,
uni0634,
uni0635,
uni0636,
uni0637,
uni0638,
uni0639,
uni063A,
uni0640,
uni0641,
uni0642,
uni0643,
uni0644,
uni0645,
uni0646,
uni0647,
uni0648,
uni0649,
uni064A,
uni064B,
uni064C,
uni064D,
uni064E,
uni064F,
uni0650,
uni0651,
uni0652,
uni0653,
uni0654,
uni0655,
uni0660,
uni0661,
uni0662,
uni0663,
uni0664,
uni0665,
uni0666,
uni0667,
uni0668,
uni0669,
uni066A,
uni066B,
uni066C,
uni066D,
uni0670,
uni0671,
uni0672,
uni0673,
uni0674,
uni0675,
uni0676,
uni0677,
uni0678,
uni0679,
uni067E,
uni0686,
uni0688,
uni0691,
uni06A1,
uni06A9,
uni06AF,
uni06BA,
uni06BE,
uni06C0,
uni06C1,
uni06CC,
uni06D2,
uni06D3,
uni06D4,
uni06D5,
uni06D6,
uni06D7,
uni06D8,
uni06D9,
uni06DA,
uni06DB,
uni06DC,
uni06DD,
uni06DE,
uni06DF,
uni06E0,
uni06E1,
uni06E2,
uni06E3,
uni06E4,
uni06E5,
uni06E6,
uni06E7,
uni06E8,
uni06E9,
uni06EA,
uni06EB,
uni06EC,
uni06ED,
uni06F0,
uni06F1,
uni06F2,
uni06F3,
uni06F4,
uni06F5,
uni06F6,
uni06F7,
uni06F8,
uni06F9,
uni2000,
uni2001,
uni2002,
uni2003,
uni2004,
uni2005,
uni2006,
uni2007,
uni2008,
uni2009,
uni200A,
uni2010,
uni2011,
figuredash,
endash,
emdash,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
dagger,
daggerdbl,
bullet,
ellipsis,
uni202F,
perthousand,
guilsinglleft,
guilsinglright,
uni205F,
uni2074,
Euro,
trademark,
minus,
uni2215,
uni25CC,
uni25FC,
uniFB51,
uniFB57,
uniFB58,
uniFB59,
uniFB67,
uniFB68,
uniFB69,
uniFB7B,
uniFB7C,
uniFB7D,
uniFB89,
uniFB8D,
uniFB8F,
uniFB90,
uniFB91,
uniFB93,
uniFB94,
uniFB95,
uniFB9F,
uniFBA1,
uniFBA5,
uniFBA8,
uniFBA9,
uniFBAB,
uniFBAC,
uniFBAD,
uniFBAF,
uniFBB1,
uniFBD8,
uniFBE8,
uniFBE9,
uniFBFD,
uniFBFE,
uniFBFF,
uniFC00,
uniFC01,
uniFC02,
uniFC03,
uniFC04,
uniFC05,
uniFC06,
uniFC07,
uniFC08,
uniFC09,
uniFC0A,
uniFC0B,
uniFC0C,
uniFC0D,
uniFC0E,
uniFC0F,
uniFC10,
uniFC11,
uniFC12,
uniFC13,
uniFC14,
uniFC15,
uniFC16,
uniFC17,
uniFC18,
uniFC19,
uniFC1A,
uniFC1B,
uniFC1C,
uniFC1D,
uniFC1E,
uniFC1F,
uniFC20,
uniFC21,
uniFC22,
uniFC23,
uniFC24,
uniFC25,
uniFC29,
uniFC2A,
uniFC2B,
uniFC2C,
uniFC2D,
uniFC2E,
uniFC2F,
uniFC30,
uniFC31,
uniFC32,
uniFC33,
uniFC34,
uniFC35,
uniFC36,
uniFC37,
uniFC3B,
uniFC3C,
uniFC3D,
uniFC3E,
uniFC3F,
uniFC40,
uniFC41,
uniFC42,
uniFC43,
uniFC44,
uniFC48,
uniFC49,
uniFC4A,
uniFC4B,
uniFC4C,
uniFC4D,
uniFC4E,
uniFC4F,
uniFC50,
uniFC51,
uniFC52,
uniFC53,
uniFC54,
uniFC55,
uniFC56,
uniFC57,
uniFC58,
uniFC59,
uniFC5A,
uniFC64,
uniFC65,
uniFC66,
uniFC67,
uniFC68,
uniFC69,
uniFC6A,
uniFC6B,
uniFC6C,
uniFC6D,
uniFC6E,
uniFC6F,
uniFC70,
uniFC71,
uniFC72,
uniFC73,
uniFC74,
uniFC75,
uniFC76,
uniFC77,
uniFC78,
uniFC79,
uniFC7A,
uniFC7B,
uniFC80,
uniFC81,
uniFC82,
uniFC83,
uniFC84,
uniFC85,
uniFC86,
uniFC87,
uniFC88,
uniFC8A,
uniFC8B,
uniFC8C,
uniFC8D,
uniFC8E,
uniFC8F,
uniFC91,
uniFC92,
uniFC93,
uniFC94,
uniFC95,
uniFC96,
uniFC97,
uniFC98,
uniFC99,
uniFC9A,
uniFC9B,
uniFC9C,
uniFC9D,
uniFC9E,
uniFC9F,
uniFCA0,
uniFCA1,
uniFCA2,
uniFCA3,
uniFCA4,
uniFCA5,
uniFCA6,
uniFCA7,
uniFCA8,
uniFCA9,
uniFCAA,
uniFCAB,
uniFCAC,
uniFCAD,
uniFCAE,
uniFCAF,
uniFCB0,
uniFCB1,
uniFCB2,
uniFCB3,
uniFCB4,
uniFCB5,
uniFCB6,
uniFCB7,
uniFCBA,
uniFCBB,
uniFCBC,
uniFCBD,
uniFCBE,
uniFCBF,
uniFCC0,
uniFCC1,
uniFCC2,
uniFCC3,
uniFCC7,
uniFCC8,
uniFCC9,
uniFCCA,
uniFCCB,
uniFCCC,
uniFCCD,
uniFCCE,
uniFCCF,
uniFCD0,
uniFCD1,
uniFCD2,
uniFCD3,
uniFCD4,
uniFCD5,
uniFCD6,
uniFCD7,
uniFCD8,
uniFCDA,
uniFCDB,
uniFCDC,
uniFCDD,
uniFCDE,
uniFCE0,
uniFCE2,
uniFCE4,
uniFCE6,
uniFCEB,
uniFCEC,
uniFCEF,
uniFCF1,
uniFCFB,
uniFCFC,
uniFCFD,
uniFCFE,
uniFD05,
uniFD06,
uniFD07,
uniFD08,
uniFD09,
uniFD0A,
uniFD0B,
uniFD0C,
uniFD0D,
uniFD0E,
uniFD0F,
uniFD10,
uniFD17,
uniFD18,
uniFD19,
uniFD1A,
uniFD21,
uniFD22,
uniFD23,
uniFD24,
uniFD29,
uniFD2A,
uniFD2B,
uniFD2C,
uniFD2D,
uniFD2E,
uniFD2F,
uniFD30,
uniFD3E,
uniFD3F,
uniFD86,
uniFD88,
uniFD8A,
uniFD8D,
uniFD8F,
uniFDB5,
uniFDBA,
uniFDF2,
uniFE82,
uniFE84,
uniFE86,
uniFE88,
uniFE8A,
uniFE8B,
uniFE8C,
uniFE8E,
uniFE90,
uniFE91,
uniFE92,
uniFE94,
uniFE96,
uniFE97,
uniFE98,
uniFE9A,
uniFE9B,
uniFE9C,
uniFE9E,
uniFE9F,
uniFEA0,
uniFEA2,
uniFEA3,
uniFEA4,
uniFEA6,
uniFEA7,
uniFEA8,
uniFEAA,
uniFEAC,
uniFEAE,
uniFEB0,
uniFEB2,
uniFEB3,
uniFEB4,
uniFEB6,
uniFEB7,
uniFEB8,
uniFEBA,
uniFEBB,
uniFEBC,
uniFEBE,
uniFEBF,
uniFEC0,
uniFEC2,
uniFEC3,
uniFEC4,
uniFEC6,
uniFEC7,
uniFEC8,
uniFECA,
uniFECB,
uniFECC,
uniFECE,
uniFECF,
uniFED0,
uniFED2,
uniFED3,
uniFED4,
uniFED6,
uniFED7,
uniFED8,
uniFEDA,
uniFEDB,
uniFEDC,
uniFEDE,
uniFEDF,
uniFEE0,
uniFEE2,
uniFEE3,
uniFEE4,
uniFEE6,
uniFEE7,
uniFEE8,
uniFEE9,
uniFEEA,
uniFEEB,
uniFEEC,
uniFEEE,
uniFEF0,
uniFEF2,
uniFEF5,
uniFEF6,
uniFEF7,
uniFEF8,
uniFEF9,
uniFEFA,
uniFEFB,
uniFEFC,
uniFFFC,
nonmarkingreturn.1,
_652,
NULL.1,
space.001,
at.cap,
hyphen.cap,
guilsinglleft.cap,
guilsinglright.cap,
guillemotleft.cap,
guillemotright.cap,
endash.cap,
emdash.cap,
periodcentred,
periodcentred.cap,
parenleft.cap,
parenright.cap,
bracketleft.cap,
bracketright.cap,
braceleft.cap,
braceright.cap,
uni0326.alt,
grave.cap,
acute.cap,
circumflex.cap,
caron.cap,
tilde.cap,
dieresis.cap,
macron.cap,
breve.cap,
ring.cap,
hungarumlaut.cap,
dotaccent.cap,
uni0627.short,
uniFE8B.tall,
uniFE8B.short,
uniFE8C.tall,
uniFE8E.short,
uniFE91.tall,
uniFE91.short,
uniFE92.tall,
uniFE97.tall,
uniFE97.short,
uniFE98.tall,
uniFE9B.tall,
uniFE9B.short,
uniFE9C.tall,
uni0640.twotimes,
uni0640.threetimes,
uniFEE7.tall,
uniFEE7.short,
uniFEE8.tall,
uniFEEC.alt,
uniFEF3.tall,
uniFEF3.short,
uniFEF4.tall,
uni0672.fina,
uni0673.fina,
uni0675.fina,
uni0676.fina,
uni0678.fina,
uniFB68.tall,
uniFB68.short,
uniFB69.tall,
uniFB58.tall,
uniFB58.short,
uniFB59.tall,
uni06A1.fina,
uni06A1.init,
uni06A1.medi,
uni06AA.fina,
uni06AA.init,
uni06AA.medi,
uni06B6.fina,
uniFBE8.short,
uniFBE8.tall,
uniFBE9.tall,
uni06F4.urdu,
uni06F7.urdu,
uni0660.small,
uni0661.small,
uni0662.small,
uni0663.small,
uni0664.small,
uni0665.small,
uni0666.small,
uni0667.small,
uni0668.small,
uni0669.small,
uni06F4.small,
uni06F5.small,
uni06F6.small,
uni06F4.urdusmall,
uni06F7.urdusmall,
uni06DD.alt1,
uniFEFB.alt1,
uniFEFC.alt1,
uni0651064B,
uni0651064C,
uni0651064D,
uni0651064E,
uni0651064F,
uni06510650,
uni06510670,
uni0654064E,
uni0654064F,
uni06540652,
uni06550650,
uni062C06BE.isol,
uni062C06BE.fina,
uni062C06BE.init,
uni062C06BE.medi,
uni06AF06BE.isol,
uni06AF06BE.init,
uni06AF06BE.medi,
uni064906D2.isol,
uni062806D2.isol,
uni067E06D2.isol,
uni067906D2.isol,
uni062A06D2.isol,
uni062B06D2.isol,
uni062C06D2.isol,
uni068606D2.isol,
uni062D06D2.isol,
uni062E06D2.isol,
uni063306D2.isol,
uni063406D2.isol,
uni063506D2.isol,
uni063606D2.isol,
uni063706D2.isol,
uni063806D2.isol,
uni063906D2.isol,
uni063A06D2.isol,
uni064106D2.isol,
uni064206D2.isol,
uni06A906D2.isol,
uni06AF06D2.isol,
uni064406D2.isol,
uni064506D2.isol,
uni064606D2.isol,
uni06BE06D2.isol,
uni06C106D2.isol,
uni06CC06D3.isol,
uni062606D3.isol,
uni067E06D3.isol,
uni067906D3.isol,
uni062A06D3.isol,
uni062B06D3.isol,
uni062C06D3.isol,
uni068606D3.isol,
uni063906D3.isol,
uni063A06D3.isol,
uni064106D3.isol,
uni064206D3.isol,
uni06A906D3.isol,
uni06AF06D3.isol,
uni064406D3.isol,
uni064506D3.isol,
uni064606D3.isol,
uni06BE06D3.isol,
uni06C106D3.isol,
uni062C06D3.fina,
uni0646062A06D2.isol,
uni06BE062A06D2.isol,
uni06C1062A06D2.isol,
uni063306D2.fina,
uni06CC063306D2.isol,
uni06CC063306D2.fina,
uni0686064406D2.isol,
uni06AF064406D2.isol,
uni0645064406D2.isol,
uni062C064506D2.isol,
uni067E064606D2.isol,
uni06BE064606D2.isol,
uni06C1064606D2.isol,
uni068606BE06D2.isol,
uni064406CC06D2.isol,
uni06C106CC06D2.isol,
uni06CC064606D2.fina,
uni067E06CC064606D2.isol,
uni062A06CC067906D2.isol,
uni06C1062A06D2.fina,
uni06CC062A06D2.fina,
uni06C1064406D2.fina,
uni0679062C.isol,
uni067A062C.isol,
uni067D062C.isol,
uni062B062D.isol,
uni0679062D.isol,
uni067D062D.isol,
uni0626062E.isol,
uni062B062E.isol,
uni0679062E.isol,
uni067D062E.isol,
uni06260686.isol,
uni06280686.isol,
uni062A0686.isol,
uni062B0686.isol,
uni06460686.isol,
uni064A0686.isol,
uni06790686.isol,
uni067D0686.isol,
uni062B062C.init,
uni0679062C.init,
uni067D062C.init,
uni062B062D.init,
uni0679062D.init,
uni067D062D.init,
uni062B062E.init,
uni0679062E.init,
uni067D062E.init,
uni06260686.init,
uni06280686.init,
uni062A0686.init,
uni062B0686.init,
uni06460686.init,
uni064A0686.init,
uni06790686.init,
uni067D0686.init,
uni06790645.isol,
uni067D0645.isol,
uni06790645.init,
uni067D0645.init,
uni062B0647.init,
uni06790647.init,
uni067D0647.init,
uni06790647.medi,
uni067D0647.medi,
uni06790649.isol,
uni067D0649.isol,
uni0679064A.isol,
uni067D064A.isol,
uni06260626.isol,
uni06280626.isol,
uni062A0626.isol,
uni062B0626.isol,
uni06460626.isol,
uni064A0626.isol,
uni06790626.isol,
uni06790631.fina,
uni067D0631.fina,
uni06790632.fina,
uni067D0632.fina,
uni06260691.fina,
uni06280691.fina,
uni062A0691.fina,
uni062B0691.fina,
uni06460691.fina,
uni064A0691.fina,
uni06790691.fina,
uni067D0691.fina,
uni062606450627.fina,
uni062806450627.fina,
uni062A06450627.fina,
uni062B06450627.fina,
uni064606450627.fina,
uni064A06450627.fina,
uni067906450627.fina,
uni067D06450627.fina,
uni06790645.fina_,
uni067D0645.fina,
uni06790646.fina,
uni067D0646.fina,
uni062606BA.fina,
uni062806BA.fina,
uni062A06BA.fina,
uni062B06BA.fina,
uni064606BA.fina,
uni064A06BA.fina,
uni067906BA.fina,
uni067D06BA.fina,
uni06790649.fina,
uni067D0649.fina,
uni0679064A.fina,
uni067D064A.fina,
uni06260626.fina,
uni06280626.fina,
uni062A0626.fina,
uni062B0626.fina,
uni06460626.fina,
uni064A0626.fina,
uni06790626.fina,
uni06850645.isol,
uni06860645.isol,
uni06860645.init,
uni06330632.isol,
uni06340632.isol,
uni06330632.fina,
uni06340632.fina,
uni0635062C.isol,
uni0635062E.isol,
uni0635062C.init,
uni06350632.isol,
uni06360632.isol,
uni06350632.fina,
uni06360632.fina,
uni06410626.isol,
uni06420626.isol,
uni06430627.isolshort,
uni06430627.finashort,
uni064306440627.isol,
uni064306440627.fina,
uni064306440627.isolshort,
uni064306440627.finashort,
uni064306450627.isol,
uni064306450627.isolshort,
uni06440645062C.init,
uni06440645062E.init,
dot.one,
dot.twohoriz,
dot.twovert,
dot.threeup,
dot.threedown,
dot.four,
wasla,
wavyhamza,
smalltaa,
smallv,
base.behisol,
base.behfinal,
base.qafisol,
base.qaffina,
liga.behhahisol,
liga.behhahinit,
liga.behmeemisol,
liga.behmeeminit,
liga.behhehinit,
liga.behhehmedi,
liga.behyehisol,
liga.behrehfina,
liga.behmeemaleffina,
liga.behmeemfina,
liga.behnoonfina,
liga.behyehfina,
liga.hahhahisol,
liga.hahhahinit,
liga.fehhahisol,
liga.fehhahinit,
liga.fehmeemisol,
liga.fehmeeminit,
liga.fehyehisol,
liga.allah,
uni064406440647.isol,
liga.behbehyehbarree,
uni0640.quarter,
uni062C06BE06D2.isol,
uni062D06BE06D2.isol,
uni062C06BE06D2.fina,
uni062D06BE06D2.fina,
uni068606BE06D2.fina,
uni06BE06D2.fina,
uni062C06D2.fina,
uni062D06D2.fina,
uni068606D2.fina,
uni062D064906D2.fina,
uni0686062A06D2.fina,
uniFE92.low,
uniFEF4.low,
uniFB59.low,
uniFE92.lowtall,
uniFEF4.lowtall,
uniFB59.lowtall,
uniFE9F.low,
uniFB7C.low,
uniFEA0.low,
uniFB7D.low,
uni06490627.isol,
uni06280627.isol,
uni062A0627.isol,
uni062B0627.isol,
uni06460627.isol,
uni064A0627.isol,
uniFEDF.alt1,
uniSeenToiYehB,
uniSheenToiYehB,
uniKheHaYehB,
uniFB94_uniFE8E.liga,
uniFB95_uniFE8E.liga,
uniFB94_uniFE8E.short.liga,
glyph1907,
glyph1908,
uniFB95_uniFEFC.liga,
glyph1910,
uniFB95_uniFEFC.alt1.liga,
uniFB94_uniFEDE.liga,
uniFB95_uniFEDE.liga,
uniFB94_uniFEE0.liga,
uniFB95_uniFEE0.liga,
uniFB94_uniFEE2.liga,
uniFB95_uniFEE2.liga,
uniFB94_uniFEE4.liga,
uniFB95_uniFEE4.liga,
glyphgaaf,
glyphgaaf2,
glyph1922,
glyph1923,
uniFB94_uniFEF0.liga,
uniFB95_uniFEF2.liga,
glyph1926,
glyph1927,
glyph1928,
newReReplacement,
newNunGunnaReplacemet,
newZeReplacement,
newNunGunnaReplacement,
uniFEDB_uniFBAB.liga,
uniFE9F_uniFBAB.liga,
uniFEE7_uniFBAB.liga,
uniFE97_uniFBAB.liga,
uniFEF3_uniFBAB.liga,
glyph1939,
glyph1940,
glyph1941,
glyph1942,
glyph1943,
uniFEE3_uniFEEC.liga,
uniFEE3_uniFBAD.liga,
glyph1946,
uniFEA7_uniFEF0.liga,
uniFEA7_uniFEF2.liga,
uniFEA3_uniFEF0.liga,
uniFEA3_uniFEF2.liga,
uniFE9F_uniFEF0.liga,
uniFE9F_uniFEF2.liga,
uniFB7C_uniFEF2.liga,
uniFB7C_uniFEF0.liga,
glyph1955,
glyph1956,
glyph1957,
glyph1958,
uniFEEC_uniFEE2.liga,
glyph1960,
uniFECB_uniFEF0.liga,
uniFECF_uniFEF0.liga,
uniFECB_uniFEF2.liga,
uniFECF_uniFEF2.liga,
glyph1965,
glyph1966,
uniFE91_uniFBAD.liga,
uniFE97_uniFBAD.liga,
uniFB68_uniFBAD.liga,
uniFE9B_uniFBAD.liga,
uniFB58_uniFBAD.liga,
uniFEE7_uniFBAD.liga,
uniFEF3_uniFBAD.liga,
uniFE8B_uniFBAD.liga,
uniFE91_uniFBAD_uni0640.liga,
uniFE97_uniFBAD_uni0640.liga,
uniFB68_uniFBAD_uni0640.liga,
uniFE9B_uniFBAD_uni0640.liga,
uniFB58_uniFBAD_uni0640.liga,
uniFEE7_uniFBAD_uni0640.liga,
uniFEF3_uniFBAD_uni0640.liga,
uniFE8B_uniFBAD_uni0640.liga,
uniFE91_uniFEEC_uniFEE2.liga,
uniFEE7_uniFEEC_uniFEE2.liga,
uniFEF3_uniFEEC_uniFEE2.liga,
uniFE97_uniFEEC_uniFEE2.liga,
uniFE9B_uniFEEC_uniFEE2.liga,
glyph1988,
uniFE8B_uniFEEC_uniFEE2.liga,
uniFB68_uniFEEC_uniFEE2.liga,
glyph1991,
glyph1992,
uniFE92_uniFEEC_uniFEE2.liga,
uniFEE8_uniFEEC_uniFEE2.liga,
uniFEF4_uniFEEC_uniFEE2.liga,
uniFE98_uniFEEC_uniFEE2.liga,
uniFE9C_uniFEEC_uniFEE2.liga,
glyph1998,
uniFE8C_uniFEEC_uniFEE2.liga,
uniFB69_uniFEEC_uniFEE2.liga,
glyph2001,
glyph2002,
glyph2003,
glyph2004,
uniFE91_uniFEEC_uniFEA2.liga,
uniFE91_uniFEEC_uniFE9E.liga,
uniFE91_uniFEEC_uniFEA6.liga,
uniFE91_uniFEEC_uniFB7B.liga,
uniFEE7_uniFEEC_uniFEA2.liga,
uniFEE7_uniFEEC_uniFE9E.liga,
uniFEE7_uniFEEC_uniFEA6.liga,
uniFEE7_uniFEEC_uniFB7B.liga,
uniFEF3_uniFEEC_uniFEA2.liga,
uniFEF3_uniFEEC_uniFE9E.liga,
uniFEF3_uniFEEC_uniFEA6.liga,
uniFEF3_uniFEEC_uniFB7B.liga,
uniFE97_uniFEEC_uniFEA2.liga,
uniFE97_uniFEEC_uniFE9E.liga,
uniFE97_uniFEEC_uniFEA6.liga,
uniFE97_uniFEEC_uniFB7B.liga,
uniFE9B_uniFEEC_uniFEA2.liga,
uniFE9B_uniFEEC_uniFE9E.liga,
uniFE9B_uniFEEC_uniFEA6.liga,
uniFE9B_uniFEEC_uniFB7B.liga,
glyph2025,
glyph2026,
glyph2027,
glyph2028,
uniFE8B_uniFEEC_uniFEA2.liga,
uniFE8B_uniFEEC_uniFE9E.liga,
uniFE8B_uniFEEC_uniFEA6.liga.00,
uniFE8B_uniFEEC_uniFB7B.liga,
uniFB68_uniFEEC_uniFEA2.liga,
uniFB68_uniFEEC_uniFE9E.liga,
uniFB68_uniFEEC_uniFEA6.liga,
uniFB68_uniFEEC_uniFB7B.liga,
uniFE92_uniFEEC_uniFEA2.liga,
uniFE92_uniFEEC_uniFE9E.liga,
uniFE92_uniFEEC_uniFEA6.liga,
uniFE92_uniFEEC_uniFB7B.liga,
uniFEE8_uniFEEC_uniFEA2.liga,
uniFEE8_uniFEEC_uniFE9E.liga,
uniFEE8_uniFEEC_uniFEA6.liga,
uniFEE8_uniFEEC_uniFB7B.liga,
uniFEF4_uniFEEC_uniFEA2.liga,
uniFEF4_uniFEEC_uniFE9E.liga,
uniFEF4_uniFEEC_uniFEA6.liga,
uniFEF4_uniFEEC_uniFB7B.liga,
uniFE98_uniFEEC_uniFEA2.liga,
uniFE98_uniFEEC_uniFE9E.liga,
uniFE98_uniFEEC_uniFEA6.liga,
uniFE98_uniFEEC_uniFB7B.liga,
uniFB69_uniFEEC_uniFEA6.liga,
uniFE9C_uniFEEC_uniFEA2.liga,
uniFE9C_uniFEEC_uniFE9E.liga,
uniFE9C_uniFEEC_uniFEA6.liga,
uniFE9C_uniFEEC_uniFB7B.liga,
glyph2058,
glyph2059,
glyph2060,
glyph2061,
uniFE8C_uniFEEC_uniFEA2.liga,
uniFE8C_uniFEEC_uniFE9E.liga,
uniFE8B_uniFEEC_uniFEA6.liga,
uniFE8C_uniFEEC_uniFB7B.liga,
uniFB69_uniFEEC_uniFEA2.liga,
uniFB69_uniFEEC_uniFB7B.liga,
uniFB69_uniFEEC_uniFE9E.liga,
glyph2069,
glyph2070,
glyph2071,
glyph2072,
uniFE91_uniFEEC_uniFEA0.liga,
uniFEE7_uniFEEC_uniFEA0.liga,
uniFEF3_uniFEEC_uniFEA0.liga,
uniFE97_uniFEEC_uniFEA0.liga,
uniFE9B_uniFEEC_uniFEA0.liga,
glyph2078,
uniFE8B_uniFEEC_uniFEA0.liga,
uniFB68_uniFEEC_uniFEA0.liga,
uniFE91_uniFEEC_uniFEA8.liga,
uniFEE7_uniFEEC_uniFEA8.liga,
uniFE97_uniFEEC_uniFEA8.liga,
uniFEF3_uniFEEC_uniFEA8.liga,
uniFE9B_uniFEEC_uniFEA8.liga,
uniFB68_uniFEEC_uniFEA8.liga,
glyph2087,
uniFE8B_uniFEEC_uniFEA8.liga,
uniFE91_uniFEEC_uniFEA4.liga,
uniFEE7_uniFEEC_uniFEA4.liga,
uniFEF3_uniFEEC_uniFEA4.liga,
uniFE97_uniFEEC_uniFEA4.liga,
uniFE9B_uniFEEC_uniFEA4.liga,
glyph2094,
uniFE8B_uniFEEC_uniFEA4.liga,
uniFB68_uniFEEC_uniFEA4.liga,
uniFEE7_uniFEEC_uniFB7D.liga,
uniFE91_uniFEEC_uniFB7D.liga,
uniFE97_uniFEEC_uniFB7D.liga,
uniFEF3_uniFEEC_uniFB7D.liga,
uniFE9B_uniFEEC_uniFB7D.liga,
glyph2102,
uniFE8B_uniFEEC_uniFB7D.liga,
uniFB68_uniFEEC_uniFB7D.liga,
glyph2105,
glyph2106,
glyph2107,
glyph2108,
glyph2109,
glyph2110,
glyph2111,
glyph2112,
glyph2113,
glyph2114,
glyph2115,
glyph2116,
glyph2117,
glyph2118,
glyph2119,
glyph2120,
glyph2121,
glyph2122,
glyph2123,
glyph2124,
glyph2125,
glyph2126,
glyph2127,
glyph2128,
glyph2129,
glyph2130,
glyph2131,
glyph2132,
glyph2133,
glyph2134,
glyph2135,
glyph2136,
glyph2137,
glyph2138,
glyph2139,
glyph2140,
uniFEDB_uniFEEC.liga,
uniFEDC_uniFEEC.liga,
glyph2143,
glyph2144,
glyph2145,
uniFED4_uniFEF0.liga,
uniFED8_uniFEF0.liga,
uniFED4_uniFEF2.liga,
uniFED8_uniFEF2.liga,
uniFEC4_uniFEF0.liga,
uniFEC8_uniFEF0.liga,
uniFEC4_uniFEF2.liga,
uniFEC8_uniFEF2.liga,
uniFECC_uniFEF0.liga,
uniFED0_uniFEF0.liga,
uniFECC_uniFEF2.liga,
uniFED0_uniFEF2.liga,
uniFEA3_uniFBAD.liga,
uniFE9F_uniFBAD.liga,
uniFB7C_uniFBAD.liga,
uniFEA7_uniFBAD.liga,
glyph2162,
glyph2163,
glyph2164,
glyph2165,
glyph2166,
uniFEB4_uniFEE2.liga,
uniFEB8_uniFEE2.liga,
glyph2169,
glyph2170,
uniFEC3_uniFEF0.liga,
uniFEC3_uniFEF2.liga,
uniFEC7_uniFEF0.liga,
uniFEC7_uniFEF2.liga,
uniFEEC_uniFEF0.liga,
uniFEEC_uniFEF2.liga,
glyph2177,
uniFE92_uniFEEC_uniFEF0.liga,
uniFEE8_uniFEEC_uniFEF0.liga,
uniFEF4_uniFEEC_uniFEF0.liga,
uniFE98_uniFEEC_uniFEF0.liga,
uniFE9C_uniFEEC_uniFEF0.liga,
uniFB59_uniFEEC_uniFEF0.liga,
uniFE8C_uniFEEC_uniFEF0.liga,
uniFB69_uniFEEC_uniFEF0.liga,
uniFE92_uniFEEC_uniFEF2.liga,
uniFEE8_uniFEEC_uniFEF2.liga,
uniFEF4_uniFEEC_uniFEF2.liga,
uniFE98_uniFEEC_uniFEF2.liga,
uniFE9C_uniFEEC_uniFEF2.liga,
uniFB59_uniFEEC_uniFEF2.liga,
uniFE8C_uniFEEC_uniFEF2.liga,
uniFB69_uniFEEC_uniFEF2.liga,
glyph2194,
uniFE91_uniFEA4_uniFEE4.liga,
uniFEE7_uniFEA4_uniFEE4.liga,
uniFE97_uniFEA4_uniFEE4.liga,
uniFEF3_uniFEA4_uniFEE4.liga,
uniFE9B_uniFEA4_uniFEE4.liga,
uniFB58_uniFEA4_uniFEE4.liga,
uniFE8B_uniFEA4_uniFEE4.liga,
uniFB68_uniFEA4_uniFEE4.liga,
uniFE91_uniFEA0_uniFEE4.liga,
uniFEE7_uniFEA0_uniFEE4.liga,
uniFE97_uniFEA0_uniFEE4.liga,
uniFEF3_uniFEA0_uniFEE4.liga,
uniFE9B_uniFEA0_uniFEE4.liga,
uniFB58_uniFEA0_uniFEE4.liga,
uniFE8B_uniFEA0_uniFEE4.liga,
uniFB68_uniFEA0_uniFEE4.liga,
uniFE91_uniFEA8_uniFEE4.liga,
uniFEE7_uniFEA8_uniFEE4.liga,
uniFE97_uniFEA8_uniFEE4.liga,
uniFEF3_uniFEA8_uniFEE4.liga,
uniFE9B_uniFEA8_uniFEE4.liga,
uniFB58_uniFEA8_uniFEE4.liga,
uniFE8B_uniFEA8_uniFEE4.liga,
uniFB68_uniFEA8_uniFEE4.liga,
uniFE91_uniFB7D_uniFEE4.liga,
uniFEE7_uniFB7D_uniFEE4.liga,
uniFE97_uniFB7D_uniFEE4.liga,
uniFEF3_uniFB7D_uniFEE4.liga,
uniFE9B_uniFB7D_uniFEE4.liga,
uniFE8B_uniFB7D_uniFEE4.liga,
uniFB58_uniFB7D_uniFEE4.liga,
uniFB68_uniFB7D_uniFEE4.liga,
glyph2227,
glyph2228,
MHMD.liga,
uniFEE3_uniFEA0_uniFEE4_uniFEAA,
uniFEE3_uniFEA8_uniFEE4_uniFEAA,
glyph2232,
glyph2233,
uniFEEB_uniFEB4_uniFBAF.liga,
uniFE91_uniFBAD_uniFBAF.liga,
uniFEE7_uniFBAD_uniFBAF.liga,
uniFEF3_uniFBAD_uniFBAF.liga,
uniFE97_uniFBAD_uniFBAF.liga,
uniFE9B_uniFBAD_uniFBAF.liga,
uniFB58_uniFBAD_uniFBAF.liga,
uniFE8B_uniFBAD_uniFBAF.liga,
uniFB68_uniFBAD_uniFBAF.liga,
uniFEEB_uniFEB8_uniFBAF.liga,
glyph2244,
glyph2245,
glyph2246,
glyph2247,
glyph2248,
glyph2249,
glyph2250,
glyph2251,
glyph2252,
uniFEC3_uniFEE4.liga,
uniFEC7_uniFEE4.liga,
uniFEB3_uniFEE4_uniFE8E.liga,
uniFEB7_uniFEE4_uniFE8E.liga,
uniFEBB_uniFEE4_uniFE8E.liga,
uniFEBF_uniFEE4_uniFE8E.liga,
uniFEDB_uniFEEA.liga,
uniFEDB_uniFE94.liga,
glyph2261,
uniFB94_uniFE94.liga,
glyph2263,
glyph2264,
glyph2265,
glyph2266,
glyph2267,
glyph2268,
glyph2269,
glyph2270,
glyph2271,
glyph2272,
uniFE8B_uniFBAF.liga,
uniFEF3_uniFBAF.liga,
glyph2275,
uniFE92_uniFE92_uniFBAF.liga,
uniFE92_uniFEE8_uniFBAF.liga,
uniFE92_uniFE98_uniFBAF.liga,
uniFE92_uniFEF4_uniFBAF.liga,
uniFE92_uniFE9C_uniFBAF.liga,
uniFE92_uniFB59_uniFBAF.liga,
uniFE92_uniFE8C_uniFBAF.liga,
uniFE92_uniFB69_uniFBAF.liga,
uniFEE8_uniFE92_uniFBAF.liga,
uniFEE8_uniFEE8_uniFBAF.liga,
uniFEE8_uniFE98_uniFBAF.liga,
uniFEE8_uniFEF4_uniFBAF.liga,
uniFEE8_uniFE9C_uniFBAF.liga,
uniFEE8_uniFB59_uniFBAF.liga,
uniFEE8_uniFE8C_uniFBAF.liga,
uniFEE8_uniFB69_uniFBAF.liga,
uniFE98_uniFEE8_uniFBAF.liga,
uniFE98_uniFE92_uniFBAF.liga,
uniFE98_uniFE98_uniFBAF.liga,
uniFE98_uniFEF4_uniFBAF.liga,
uniFE98_uniFE9C_uniFBAF.liga,
uniFE98_uniFB59_uniFBAF.liga,
uniFE98_uniFE8C_uniFBAF.liga,
uniFE98_uniFB69_uniFBAF.liga,
uniFEF4_uniFE92_uniFBAF.liga,
uniFEF4_uniFEE8_uniFBAF.liga,
uniFEF4_uniFE98_uniFBAF.liga,
uniFEF4_uniFEF4_uniFBAF.liga,
uniFEF4_uniFE9C_uniFBAF.liga,
uniFEF4_uniFB59_uniFBAF.liga,
uniFEF4_uniFE8C_uniFBAF.liga,
uniFEF4_uniFB69_uniFBAF.liga,
uniFE9C_uniFEE8_uniFBAF.liga,
uniFE9C_uniFE92_uniFBAF.liga,
uniFE9C_uniFE98_uniFBAF.liga,
uniFE9C_uniFEF4_uniFBAF.liga,
uniFE9C_uniFE9C_uniFBAF.liga,
uniFE9C_uniFB59_uniFBAF.liga,
uniFE9C_uniFE8C_uniFBAF.liga,
uniFE9C_uniFB69_uniFBAF.liga,
uniFB59_uniFE92_uniFBAF.liga,
uniFB59_uniFEE8_uniFBAF.liga,
uniFB59_uniFEF4_uniFBAF.liga,
uniFB59_uniFE98_uniFBAF.liga,
uniFB59_uniFE9C_uniFBAF.liga,
uniFB59_uniFB59_uniFBAF.liga,
uniFB59_uniFE8C_uniFBAF.liga,
uniFB59_uniFB69_uniFBAF.liga,
uniFE8C_uniFE92_uniFBAF.liga,
uniFE8C_uniFEE8_uniFBAF.liga,
uniFE8C_uniFEF4_uniFBAF.liga,
uniFE8C_uniFE98_uniFBAF.liga,
uniFE8C_uniFE9C_uniFBAF.liga,
uniFE8C_uniFB59_uniFBAF.liga,
uniFE8C_uniFE8C_uniFBAF.liga,
uniFE8C_uniFB69_uniFBAF.liga,
uniFB69_uniFE92_uniFBAF.liga,
uniFB69_uniFEE8_uniFBAF.liga,
uniFB69_uniFE98_uniFBAF.liga,
uniFB69_uniFEF4_uniFBAF.liga,
uniFB69_uniFE9C_uniFBAF.liga,
uniFB69_uniFB59_uniFBAF.liga,
uniFB69_uniFE8C_uniFBAF.liga,
uniFB69_uniFB69_uniFBAF.liga,
uniFE91_uniFE92_uniFBAF.liga,
uniFE91_uniFEE8_uniFBAF.liga,
uniFE91_uniFE98_uniFBAF.liga,
uniFE91_uniFEF4_uniFBAF.liga,
uniFE91_uniFE9C_uniFBAF.liga,
glyph2345,
uniFE91_uniFE8C_uniFBAF.liga,
uniFE91_uniFB69_uniFBAF.liga,
uniFEE7_uniFE92_uniFBAF.liga,
uniFEE7_uniFEE8_uniFBAF.liga,
uniFEE7_uniFE98_uniFBAF.liga,
uniFEE7_uniFEF4_uniFBAF.liga,
uniFEE7_uniFE9C_uniFBAF.liga,
uniFEE7_uniFB59_uniFBAF.liga,
uniFEE7_uniFE8C_uniFBAF.liga,
uniFEE7_uniFB69_uniFBAF.liga,
uniFE97_uniFE92_uniFBAF.liga,
uniFE97_uniFEE8_uniFBAF.liga,
uniFE97_uniFE98_uniFBAF.liga,
uniFE97_uniFEF4_uniFBAF.liga,
uniFE97_uniFE9C_uniFBAF.liga,
uniFE97_uniFB59_uniFBAF.liga,
uniFE97_uniFE8C_uniFBAF.liga,
uniFE97_uniFB69_uniFBAF.liga,
uniFEF3_uniFE92_uniFBAF.liga,
uniFEF3_uniFEE8_uniFBAF.liga,
uniFEF3_uniFE98_uniFBAF.liga,
uniFEF3_uniFEF4_uniFBAF.liga,
uniFEF3_uniFE9C_uniFBAF.liga,
uniFEF3_uniFE8C_uniFBAF.liga,
uniFEF3_uniFB69_uniFBAF.liga,
uniFEF3_uniFB59_uniFBAF.liga,
uniFE9B_uniFEE8_uniFBAF.liga,
uniFE9B_uniFE92_uniFBAF.liga,
uniFE9B_uniFE98_uniFBAF.liga,
uniFE9B_uniFEF4_uniFBAF.liga,
uniFE9B_uniFE9C_uniFBAF.liga,
uniFE9B_uniFB59_uniFBAF.liga,
uniFE9B_uniFE8C_uniFBAF.liga,
uniFE9B_uniFB69_uniFBAF.liga,
uniFB58_uniFEE8_uniFBAF.liga,
uniFB58_uniFE92_uniFBAF.liga,
uniFB58_uniFE98_uniFBAF.liga,
uniFB58_uniFEF4_uniFBAF.liga,
uniFB58_uniFE8C_uniFBAF.liga,
uniFB58_uniFB69_uniFBAF.liga,
uniFB58_uniFE9C_uniFBAF.liga,
uniFB58_uniFB59_uniFBAF.liga,
uniFE8B_uniFE92_uniFBAF.liga,
uniFE8B_uniFEE8_uniFBAF.liga,
uniFE8B_uniFE98_uniFBAF.liga,
uniFE8B_uniFEF4_uniFBAF.liga,
uniFE8B_uniFE9C_uniFBAF.liga,
uniFE8B_uniFB59_uniFBAF.liga,
uniFE8B_uniFE8C_uniFBAF.liga,
uniFE8B_uniFB69_uniFBAF.liga,
uniFB68_uniFE92_uniFBAF.liga,
uniFB68_uniFEE8_uniFBAF.liga,
uniFB68_uniFE98_uniFBAF.liga,
uniFB68_uniFEF4_uniFBAF.liga,
uniFB68_uniFE9C_uniFBAF.liga,
uniFB68_uniFB59_uniFBAF.liga,
uniFB68_uniFE8C_uniFBAF.liga,
uniFB68_uniFB69_uniFBAF.liga,
glyph2404,
glyph2405,
uniFEEB_uniFEE4_uniFE92_uniFBAF,
uniFEEB_uniFEE4_uniFEE8_uniFBAF,
uniFEEB_uniFEE4_uniFEF4_uniFBAF,
uniFEEB_uniFEE4_uniFE98_uniFBAF,
uniFEEB_uniFEE4_uniFE9C_uniFBAF,
uniFEEB_uniFEE4_uniFE8C_uniFBAF,
uniFEEB_uniFEE4_uniFB59_uniFBAF,
uniFEEB_uniFEE4_uniFB69_uniFBAF,
glyph2414,
uniFE97_uniFEE4_uniFEE8_uniFBAF,
uniFE97_uniFEE4_uniFB59_uniFBAF,
uniFEE7_uniFEE4_uniFE98_uniFBAF,
uniFEE7_uniFEE4_uniFEF4_uniFBAF,
glyph2419,
glyph2420,
glyph2421,
glyph2422,
glyph2423,
glyph2424,
glyph2425,
uniFEE8_uniFBAD.liga,
uniFE92_uniFBAD.liga,
uniFE98_uniFBAD.liga,
uniFEF4_uniFBAD.liga,
uniFE9C_uniFBAD.liga,
uniFB59_uniFBAD.liga,
uniFE8C_uniFBAD.liga,
uniFB69_uniFBAD.liga,
uniFEEC_uniFBAF.liga,
glyph2435,
uniFE92_uniFBAD_uniFBAF.liga,
uniFEE8_uniFBAD_uniFBAF.liga,
uniFE98_uniFBAD_uniFBAF.liga,
uniFEF4_uniFBAD_uniFBAF.liga,
uniFE9C_uniFBAD_uniFBAF.liga,
uniFB59_uniFBAD_uniFBAF.liga,
uniFE8C_uniFBAD_uniFBAF.liga,
uniFB69_uniFBAD_uniFBAF.liga,
glyph1565,
)
